.feed,
.channel,
.searchPage {
	display: flex;
	height: calc(100vh - 70px);
	width: 100%;
	color: white;
	position: relative;
	> aside {
		width: 250px;
		height: calc(100vh - 70px);
		background-color: black;
		position: sticky;
		// padding: 20px;
		padding: 10px 20px;
		overflow-y: auto;
		bottom: 0;
		left: 0;
		&::-webkit-scrollbar {
			display: none;
		}
		.buttons {
			display: flex;
			gap: 10px;
			flex-direction: column;
			button {
				background-color: transparent;
				color: white;
				border: none;
				padding: 10px 20px;
				border-radius: 10px;
				display: flex;
				align-items: center;
				// gap: 35px;
				gap: 2vw;
				font-size: 16px;
				&:hover {
					background-color: #272727;
				}
				span {
					> svg {
						margin-top: 4px;
					}
				}
			}
		}
		.copy {
			text-align: center;
			margin-top: 20px;
		}
	}
	> main {
		// min-height: calc(100vh - 70px);
		background-color: black;
		height: 100%;
		width: 100%;
		overflow-y: auto;
		padding: 0 20px;
		padding-left: 0;
		padding-bottom: 10px;

		-webkit-scrollbar {
			display: none;
		}

		&::-webkit-scrollbar {
			display: none;
		}

		> h4 {
			font-size: 40px;
			margin-bottom: 20px;
		}
		.videos {
			width: 100%;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 20px;
			row-gap: 40px;

			.videoCard {
				cursor: pointer;

				aspect-ratio: 3/2;

				> p {
					cursor: pointer;
					display: flex;
					align-items: center;
					margin-top: 10px;
					color: darkgray;
				}
			}
		}
	}
}
